@import '../variables';

.main {
  grid-area: content;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: 'header' 'content' 'footer';
}

.form.align-right {
    float: right;
}

.header {
  width: 100%;
  background-color: white;
  border-bottom: #337ab7 solid 3px;
  height: 72px;
  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      list-style-type: none;
      text-align: center;
      flex-grow: 1;
      &.logout {
        flex-grow: 1;
        text-align: center;
        padding-right: 60px;
      }
      a {
        display: table-cell;
        width: 100%;
        color: #333333;
        padding: 25px 40px 25px 40px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: 600;
        float: right;
        &:hover {
          background-color: #337ab7;
          color: white;

        }
      }
    }
  }

}