.main {
  grid-area: content;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: 'header' 'content' 'footer';
}

.form.align-right {
    float: right;
}

.header {
  .container {
    height: 75px;
    width: 1500px;
    .navbar-nav {
      height: 75px;
      margin-right: 20px;
      li {
        a {
          padding: 30px 30px 25px 30px;
        }

      }
    }
    margin-left: 40px;
    margin-right: 40px;
  }
}