.pagination {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  .glyphicon-chevron-left {
    padding: 5px 5px 5px 0;
    font-size: 18px;
  }
  .glyphicon-chevron-right {
    padding: 5px 0 5px 5px;
    font-size: 18px;
  }
  .gray-filter {
    filter: brightness(0.25);
  }
  .item {
    .number {
      display: inline-block;
      text-align: center;
      width: 15px;
      max-width: 15px;
    }
    &:hover, &:visited, &:link, &:active {
      color: #333333;
      text-decoration: none;
    }
    padding: 7px 10px 7px 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
    &.active {
      background-color: #eeeeee;
    }
    &:hover {
      background-color: #eeeeee;
    }
  }

}
