@import '../../variables';

.profile-logo {
  width: 69px;
  height: 69px;
  padding: 2px;
  background: $primary-color;
  .circle {
    background: $secondary-color;
    border-radius: 50%;
    img {
      width: 66px;
      height: 66px;
    }
  }
}